#policy{
    height: 900px;
}
.titlePolicy {
    color: #333545;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300pt;
    text-align: center;
    left: 36%;
    top: 5%;
}
.footer{
    height: 135pt;
    margin-top: -3%;
    width: 101.2% !important;
    position: relative;
    right: 1.2%;
    margin-bottom: 3%;
    background-color: #333545;
    margin-bottom: -1%;
 }
 .xyncsTransFooter{
    width: 200px;
    position: relative;
    left: 45.8%;
    margin-top: 2.8% !important;  
 }
 #privacyContainer{
     text-align: justify;
     margin-top: 5%;
     width: 80%;
     position: relative;
     left: 9%;
 }
.regresarboton {
    position: relative;
    left: 46.5%;
    margin-top: 2%;
   
}
a{
    color: white !important;
}

 /* For mobiles responsiveness */
 @media screen and (max-width: 768px) {
    #policy{
        height: 1535pt;
    }
    .titlePolicy {
        font-size: 100% !important;
        width: 40%;
        position: relative;
        left: 29%;
        top: 0.5%;
    }
    .r{
        padding-top: 5%;
    }
    /* Quinta Sección */
 .footer{
    height: 135pt;
    margin-top: -3%;
    width: 101.2% !important;
    position: relative;
    right: 1.2%;
    margin-bottom: 3%;
    background-color: #333545;
    margin-bottom: -1%;
 }
 .xyncsTransFooter{
    width: 30%;
    position: relative;
    left: 35%;
    margin-top: 8.8% !important;  
 }
 .regresarboton {
    position: relative;
    left: 36%;
    margin-top: 6%;
    margin-bottom: 7%;
}
 }